.sec_sp {
    margin-bottom: calc(3rem + 5.128vw)
}

.table td,
.table th {
    color: var(--text-color);
}

.t_border {
    border-color: var(--text-color) !important;
}
.wrapper{
 width: 100%;
    display: contents;

}

#relou { 
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

.progress-title {
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0 20px;
    font-family: 'Roboto', sans-serif;
}

.section-title {
    font-size: 45px;
}

@media screen and (max-width: 991px) {
    #relou {
        flex-wrap: wrap;
    }
    
}