.project-image-container {
    width: 100%;
    overflow: hidden;
    border: 3px solid #ff7600;
}


.project-image {
    width: 100%;
    height: 100%;

}

.project-description  {
    padding: 20px;
    font-size: 24px;
    border: 1px solid var(--text-color);
}

.project-description p {
    margin: 0;
}

.project-description__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-tags { 
    padding: 0;
}
.project-tags ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
}

.project-tags ul li {
    margin: 10px;
    padding: 5px 20px;
    border: 1px solid var(--text-color);
    /* border-radius: 5px; */
    font-size: 25px;
    color: var(--text-color-3);
}
.project-description__button {
    margin: 10px 20px 10px 0px;
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    transition: 0.3s ease-in-out;
}
.project-description__button a {
    text-decoration: none;
}

.project-description__button a:hover {
    text-decoration: underline;
}


@media screen and (min-width: 1180px) {
    .special-image {
        height: 80vh;
}    
}

@media screen and (max-width: 991px) {
    .project-description__button {
       
    
    margin: 10px;
  
    }


    .project-description {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-top: 1.5rem;
    }
    .project-tags ul li {
        font-size: 20px;
    }

}

    
