.project-image-container {
    max-width: 100%;
    overflow: hidden;
}

.project-image {
    width: 100%;
}

@media screen and (min-width: 1180px) {
    .special-image {
    width: 150%;
}
}

.project-description  {
    padding: 20px;
    font-size: 25px;
    border: 1px solid var(--text-color);
}

.project-description p {
    margin: 0;
}

.project-description__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-tags { 
    padding: 0;
}
.project-tags ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.project-tags ul li {
    margin: 10px;
    padding: 5px 20px;
    border: 1px solid var(--text-color);
    /* border-radius: 5px; */
    font-size: 25px;
    color: var(--text-color-3);
}

